<p>
  <strong>Title:</strong>
  <%=  @blog.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog.description %>
</p>

<h2>Comments</h2>
    <div id="comments">
      <%= render @blog.comments %>
    </div>

<h2>Add a comment:</h2>
    <%= render 'comments/form' %>



<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
